<h1>Prihlásenie</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email, "e-mail" %><br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password, "heslo" %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Prihlásiť sa" %></div>
<% end %>

<%= button_to "Dozadu", root_path, :method => "get" %> <br>
