<%= form_for [@rating, rcomment] do |f| %>
  <% if rcomment.errors.any? %>
      <ul>
      <% rcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= f.label :body, "Komentár" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Pridať komentár" %>
  </div>
<% end %>
