<p id="notice"><%= notice %></p>

<h1>Naši inštruktori</h1>


<table>
  <thead>
    <tr>
      <th>Lyžovanie</th>
      <th>Snowboard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <td>  
      <table>
        <thead>
          <tr>
            <th>Meno</th>
            <th>Typ</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @ski_instructors.each do |instructor| %>
            <tr>
              <td><%= instructor.name %></td>
              <td><%= link_to 'Zobraziť detail', instructor %></td>
            </tr>
          <% end %>
  </tbody>
</table>
    </td>
      <td> 
        <table>
          <thead>
            <tr>
              <th>Meno</th>
              <th>Typ</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @snb_instructors.each do |instructor| %>
              <tr>
                <td><%= instructor.name %></td>
                <td><%= link_to 'Zobraziť detail', instructor %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
  </tbody>
</table>

<%= button_to "Dozadu", root_path, :method => "get" %> 

