<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>

<h1>Naši inštruktori</h1>

<div align="center">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">LYŽOVANIE</th>
      <th class="text-center">SNOWBOARD</th>
    </tr>
  </thead>
  <tbody>
    <td>  
      <table class="table table-bordered table-stripped">
        <thead>
          <tr>
            <th>Meno</th>
            <th>Typ</th>
          </tr>
        </thead>
        <tbody>
          <% @ski_instructors.each do |instructor| %>
            <tr>
              <td><%= instructor.name %></td>
              <td><%= link_to 'Zobraziť detail', instructor %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
    <td> 
      <table class="table table-bordered table-stripped">
        <thead>
          <tr>
            <th>Meno</th>
            <th>Typ</th>
          </tr>
        </thead>
        <tbody>
          <% @snb_instructors.each do |instructor| %>
            <tr>
              <td><%= instructor.name %></td>
              <td><%= link_to 'Zobraziť detail', instructor %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
  </tbody>
  </table>
</div>

<%= button_to "Dozadu", root_path, :method => "get" %> 
</body>
