<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>

<p>
  <strong>Meno:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @instructor.instructor_type == "ski" ? "Lyžovanie" : "Snowboard" %>
</p> 

<%= current_user ? (button_to 'Rezervovať lekciu', new_instructor_booking_path(@instructor), :method => "get") : () %>
<br>
<%= button_to "Dozadu", instructors_path, :method => "get" %> 
</body>
