<%= form_for [@instructor, booking] do |f| %>
  <% if booking.errors.any? %>
      <ul>
      <% message = booking.errors.first[1] %>
        <li><%= message %></li>
      </ul>

  <% end %>

  <div class="field">
    <%= f.label :startdate, 'Dátum' %>
    <%= f.date_field :startdate, min: Date.today+1, max: "2017-04-1" %>
  </div>

  <div class="field">
    <%= f.label :starttime, 'Začiatok lekcie' %>
    <%= f.time_select :starttime, start_hour: 9, end_hour: 15, minute_step: 60 %>
  </div>

  <div class="field">  
    <%= f.label :body, 'Poznámky:' %> <br/>
    <%= f.text_area :body %>
  </div>
(Do poznámky môžete uviesť presný vek žiaka, približnú úroveň lyžiarskych/snowboardových schopností a Vaše požiadavky.)<br><br>

  <div class="field">
    <%= f.label "Dieťa do 15 rokov?" %> <br/>
    <%= f.radio_button :child, true, :checked => true %> áno
    <%= f.radio_button :child, false %> nie <br/>
  </div>

  <div class="actions">
    <%= f.submit "Vytvoriť rezerváciu" %>
  </div>
<% end %>
