<%= form_for [@instructor, booking] do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startdate, 'Deň' %>
    <%= f.date_field :startdate, min: Date.today+1, max: "2017-04-1" %>
  </div>

  <div class="field">
    <%= f.label :starttime, 'Začiatok lekcie' %>
    <%= f.time_select :starttime, start_hour: 9, end_hour: 15, minute_step: 60 %>
  </div>

  <div class="field">
    <%= f.label :body, 'Poznámky:' %> <br/>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label "Dieťa do 15 rokov?" %> <br/>
    <%= f.radio_button :child, true, :checked => true %> áno
    <%= f.radio_button :child, false %> nie <br/>
  </div>

  <div class="actions">
    <%= f.submit "Vytvoriť rezerváciu" %>
  </div>
<% end %>
