<h2>Moje rezervácie</h2>

<table>
  <thead>
    <tr>
      <th>Deň</th>
      <th>Začiatok lekcie</th>
      <th>Trvanie lekcie</th>
      <th>Inštruktor</th>
      <th>Cena</th>
      <th>Poznámky</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_bookings.each do |booking| %>
       <% instructor = Instructor.find(booking.instructor_id) %>
      <tr>
        <td><%= booking.startdate %></td>
        <td><%= booking.starttime.strftime("%H:%M") %></td>
        <td><%= "50 minút" %></td>
        <td><%= instructor.name %></td>
        <td><%= booking.child ? "20€" : "23€" %></td>
        <td><%= booking.body %></td>
        <td><%= link_to 'Upraviť', edit_instructor_booking_path(booking.instructor, booking) %></td>
        <td><%= link_to 'Odstrániť', [@user, booking],
              method: :delete,
              data: { confirm: 'Naozaj chcete zrušiť túto rezerváciu?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

