<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @booking.start %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @booking.instructor %>
</p>

<p>
  <strong>Body:</strong>
  <%= @booking.body %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
