<%= form_for(rating) do |f| %>
  <% if rating.errors.any? %>
      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  <div class="field">
    <%= f.label :body, "Hodnotenie" %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "Pridať hodnotenie" %>
  </div>
<% end %>
