<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>

<h1>Hodnotenia</h1>

<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>Hodnotenie</th>
      <th>Užívateľ</th>
      <th>Vložené</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.body %></td>
        <td><%= rating.user.nickname %></td>
        <td><%= rating.created_at.strftime("%d.%m %Y, %H:%M") %></td>
        <td><%= link_to 'Zobraziť', rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Ohodnoťte nás", new_rating_path, :method => "get" %> <br>
<%= button_to "Dozadu", root_path, :method => "get" %> <br>
</body>
