<p id="notice"><%= notice %></p>

<h1>Vase hodnotenia</h1>

<table>
  <thead>
    <tr>
      <th>Hodnotenie</th>
      <th>Uzivatel</th>
      <th>Vlozene</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.body %></td>
        <td><%= rating.user.nickname %></td>
        <td><%= rating.created_at.strftime("%b %d, %Y") %></td>
        <td><%= link_to 'Show', rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %><br>
<%= link_to 'Back', root_path %>
