<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>

<h6>
  <strong>Hodnotenie:</strong>
  <%= @rating.body %>
</h6>
<h6>
  <strong>Užívateľ:</strong>
  <%= @rating.user.nickname %>
</h6>

<% if @comments.empty? %>
 <p> Hodnotenie nemá žadne komentáre.</p>
<% else %>
  <table class="table table-bordered table-stripped">
    <thead>
      <tr>
        <th>Komentár</th>
        <th>Užívateľ</th>
        <th>Vložené</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% (@comments).each do |com|  %>
        <tr>
          <td><%= com.body %></td>
          <td><%= com.user.nickname %></td>
          <td><%= com.created_at.strftime("%b %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= button_to "Pridať komentár", new_rating_rcomment_path(@rating), :method => "get" %> <br>
<%= button_to "Dozadu", ratings_path, :method => "get" %> <br>
</body>

