<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>

<h1>Aktuality</h1>

<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>Názov</th>
      <th>Popis</th>
      <th>Vložené</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skinews.each do |skinews| %>
      <tr>
        <td><%= skinews.title %></td>
        <td><%= skinews.body %></td>
        <td><%= skinews.created_at.strftime("%b %d, %Y") %></td>
        <td><%= link_to 'Zobraziť', skinews %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Dozadu", root_path, :method => "get" %> <br>
</body>
