<!DOCTYPE html>
<html>
  <head>
    <title>LyziarskaSkola</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar  navbar-inverse">
      <div class="navbar-class">
        <div class="container">
          <ul class="nav navbar-nav">
             <% user = current_user %>
             <h6>
               <div id="user_header">
                 <font color="white">
                   <% if current_user %>
                     <div align="right">Prihlásený ako <%= current_user.nickname %>. <%= link_to "Odhlásiť", logout_path, {:style=>'color:#eceff1;'} %></div>
                   <% else %>
                     <div align="right"><%= link_to "Registrácia", signup_path %> / <%= link_to "Prihlásiť", login_path %></div>
                   <% end %>
                   </br>
                 </font>
                 </div>
               <%= link_to "Domov", users_path, {:style=>'color:#263238;', :class => "btn"} %> &nbsp
               <%= link_to "Hodnotenie", ratings_path, {:style=>'color:#263238;', :class => "btn"} %> &nbsp
               <%= link_to "Aktuality", skinews_index_path, {:style=>'color:#263238;', :class => "btn"} %> &nbsp
               <%= link_to "Inštruktori", instructors_path, {:style=>'color:#263238;', :class => "btn"} %> &nbsp              
               <%= link_to "Rezervovať lekciu", (user ? type_path : signup_path), {:style=>'color:#263238;', :class => "btn"} %> &nbsp 
               <% if user %>
                 <%= link_to "Moje rezervácie", user_bookings_path(user), {:style=>'color:#263238;', :class => "btn"} %> &nbsp
               <% end %>
               <%= yield %>
             </h6>
          </ul>
        </div>
      </div>
    </header>    
  </body>
</html>

